
<%
  @index = 0
  @cartItems = 0
  @precioTotal = 0
  if session[:userid] != nil
  session[:cart].each do |carrito|
    @cartItems = @cartItems +1
  end
  end %>

  <% if @cartItems == 0%>

  <div class="centerCart">
    <div><i class="fa fa-shopping-bag fa-5x shopbag" aria-hidden="true"></i></div>
    <% if session[:userid] != nil %>
      <p class="centerTextUser">No tienes nada aún en la cesta</p>
    <% else %>
      <p class="centerText">Debes estar registrado para usar la cesta</p>
    <% end %>
  </div>

  <% else %>
  <div class="titleCesta ml-4 mt-3">
    <p>Artículos en el carrito</p>
    <p class="ml-5">Tramitar pedido</p>
  </div>
  <div class="productCesta ml-4 mr-4" >
    <div>
    <table class="table table-hover table-sm table-borderless" >
      <tbody>
      <% session[:cart].each do |id| %>
          <% @product = Product.where(id: id).take %>
      <%
        # LÓGICA DE PRECIOS
        @offer = false
        @decimales = false
        if @product.offer != 0
          # SI ES UN ARTICULO EN DESCUENTO...
          @offer = true
          @discount = @product.price - (@product.price * (@product.offer/100.00))
          @aux = @discount.to_i.to_s + ".0"

          if @aux == @discount.to_s
            @precio = @discount.to_i
            @decimales = false
          else
            @precio = @discount.round(2)
            @decimales = true
          end
        else
          # SI NO ESTÁ EM DESCUENTO...
          @aux = @product.price.to_i.to_s + ".0"
          if @aux == @product.price.to_s
            @precio = @product.price.to_i
          else
            @precio = @product.price.round(2)
          end
        end
        @precioTotal += @precio
      %>

        <tr style="cursor: pointer; height: 100px;"onclick='window.location.href="/product/<%= @product.id %>"'>
          <td style="width: 5px!important;"><p class="indexCart"><%= @index+1 %></p></td>
          <td style="width: 100px!important;"><img class="cartImage" src="<%= @product.image %>" alt="Imagen del producto"></td>
          <td style="width: 200px">
            <div class="contentcesta">
              <section><%= @product.name %></section>
              <% if @product.offer != 0 %>
              <div class="gridtd">
                <p class="pricefix"><%= @precio %> €</p>
                <h5><span class="badge badge-secondary">-<%= @product.offer %> %</span></h5>
                <p class="expricePV pricefix" style="color: darkred"><%= @product.price %> €</p>
              </div>
              <% else %>
                <p class="pricefix"><%= @precio %> €</p>
                <% end %>
            </div>
          <td style="height: 100%"><p class="tallaCart">Talla:&nbsp;&nbsp;<strong><%= session[:tallacesta][@index] %></strong></p></td>
          <td style="width: 120px"><section class="borrarCart"><a class="btn btn-danger" href='/users/deletecarrito/<%= @index %>'><i class="fa fa-trash-o fa-lg"></i> Borrar</a></section></td>
        </tr>
  <% @index = @index +1
    end %>
      </tbody>
    </table>
    </div>
    <div class="mainCart">
      <p class="cart-text">Últimos pasos para completar tu pedido</p>
      <p class="cart-text1">Comprueba que tus datos de envío son correctos</p>

      <div class="userdata">
        <div class="card">
          <div class="card-header">
            <%= session['name'] %>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fas fa-home"></i> C/ <%= session[:direccion] %></li>
            <li class="list-group-item"><i class="fas fa-globe-americas"></i> <%= session[:ciudad] %></li>
            <li class="list-group-item"><i class="fas fa-phone"></i> <%= session[:phone] %></li>
          </ul>

          <div class="card-footer" style="text-align: center">
            <small>¿Algún dato es erróneo? <%= link_to "Corrígelo", userview_path(session[:userid]) %></small>
          </div>
        </div>

      </div>
      <div class="finalCart mt-4">
        <p>Total:&emsp; <label class="pricefinal"><%= @precioTotal %> €</label></p>
        <div class="centerbutton">
          <% session[:precioTotal] = @precioTotal %>
          <%= button_to "Comprar", {action: "buy", controller: "products"}, {class: 'btn btn-dark btnbuy'} %>
        </div>
      </div>
    </div>
  </div>

<% end %>



