<div class="editmargin mt-4 ml-4">
  <p class="titlegeneral">Modificar producto</p>
  <div class="gridedit">
    <div>
      <table class="table table-hover table-bordered tableedit">
        <tr>
          <td class="tdedit">Imágen</td>
          <% if @product.image.attached? %>
          <td><img src=<%= url_for(@product.image) %> alt="" style="width: 100px"></td>
            <% end %>
        </tr>
        <tr>
          <td class="tdedit">ID</td>
          <td><%= @product.id %></td>
        </tr>
        <tr>
          <td class="tdedit">Nombre</td>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td class="tdedit">Descripción</td>
          <td><%= @product.description %></td>
        </tr>
        <tr>
          <td class="tdedit">Género</td>
          <td>
            <% if @product.genero == 0 %>
            Hombre
            <% else %>
            Mujer
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="tdedit">Tallas</td>
          <td><%= @product.talla %></td>
        </tr>
        <tr>
          <td class="tdedit">Color</td>
          <td><%= @product.color %></td>
        </tr>
        <tr>
          <td class="tdedit">Rgb</td>
          <td><%= @product.rgb %></td>
        </tr>
        <tr>
          <td class="tdedit">Precio</td>
          <td><%= @product.price %> €</td>
        </tr>
        <% if @product.offer != 0 %>
        <tr>
          <td class="tdedit">Descuento</td>
          <td><%= @product.offer %></td>
        </tr>
        <tr>
          <td class="tdedit">Descuento aplicado</td>
          <%
            @decimales = false
            @discount = @product.price - (@product.price * (@product.offer/100.00))
            @aux = @discount.to_i.to_s + ".0"

            if @aux == @discount.to_s
              @precio = @discount.to_i
              @decimales = false
            else
              @precio = @discount.round(2)
              @decimales = true
            end
          %>
          <td><%= @precio %> €</td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="editcard">
      <div class="card cardedit">
        <h5 class="card-header">Modificación</h5>
        <div class="card-body">
          <h5 class="card-title">Modificar producto</h5>
          <p class="card-text">El producto será modificado al momento. Asegurate de que los datos introducidos son correctos antes de actualizarlos.</p>
          <hr>

          <%= form_for @product do |f| %>
            <div class="form-group formNew">
              <p><strong>Nombre:</strong></p>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group formNew">
              <p><strong>Descripción:</strong></p>
              <%= f.text_area :description, class: 'form-control' %>
            </div>
            <div class="form-group formNew">
              <p><strong>Precio:</strong></p>
              <%= f.text_field :price, class: 'form-control' %>
            </div>
            <div class="form-group formNew">
              <p><strong>Género:</strong></p>
              <%= f.text_field :genero, class: 'form-control'%>
            </div>
            <div class="form-group formNew">
              <p><strong>Color:</strong></p>
              <%= f.text_field :color, class: 'form-control'%>
            </div>
            <div class="form-group formNew">
              <p><strong>Rgb:</strong></p>
              <%= f.color_field :rgb, class: 'form-control'%>
            </div>
            <div class="form-group formNew">
              <p><strong>Descuento:</strong></p>
              <%= f.text_field :offer, class: 'form-control'%>
            </div>
            <div class="form-group formNew">
              <p><strong>Tallas:</strong></p>
              <div class="checkbuttons">
                <p>XS</p>
                <%= f.check_box :talla, {multiple: true}, "XS", nil %>
                <p>S</p>
                <%= f.check_box :talla, {multiple: true}, "S", nil %>
                <p>M</p>
                <%= f.check_box :talla, {multiple: true}, "M", nil %>
                <p>L</p>
                <%= f.check_box :talla, {multiple: true}, "L", nil %>
                <p>XL</p>
                <%= f.check_box :talla, {multiple: true}, "XL", nil %>
                <p>XXL</p>
                <%= f.check_box :talla, {multiple: true}, "XXL", nil %>
              </div>
            </div>
            <div class="form-group formNew">
              <p><strong>Imágen:</strong></p>
              <%= f.file_field :image, class: 'form-control'%>
            </div>
            <%= f.submit "Modificar producto" %>
          <% end %>
          <hr>
          <p><i class="fas fa-palette"></i> Paleta de colores</p>
          <input type="color">

        </div>
      </div>
    </div>
  </div>

</div>