<h1>Listado de productos</h1>
<table>
  <tr>
    <thead>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Color</th>
      <th>Precio</th>
    </thead>
  </tr>
    <% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.color %></td>
    <td><%= product.price %></td>
    <td>
      <%= link_to "Mostrar" %>
      <%= link_to "Editar", edit_product_path(product) %>
      <%= link_to "Eliminar", product, method: :delete, data: { confirm: "¿Deseas eliminar " + product.name + "?" } %>
    </td>
  </tr>
    <% end %>
</table>
<%= link_to "Crear articulo", products_new_path %>