<div class="mainadmin">
  <p class="titleCesta">Listado de productos</p>
  <div class="buscadorgrid">
    <div>
      <%= form_tag searchadmin_path, :method => 'get', class: "search mb-3" do %>
        <%= text_field_tag :search, params[:search], placeholder: raw("&#xf002; Buscar..."), style: "font-family: 'FontAwesome';" %>
      <% end %>
    </div>
    <% if params[:search] != "" %>
    <div>
      <button type="button" onclick="window.location.href='/products/admin'" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
    <% end %>
      <%
        @aux = 0
        @products.each do
          @aux += 1
        end

        if @aux == 0 then %>
          <p style="color: red"><strong>¡Ups!</strong> No se han encontrado coincidencias</p>
        <% else %>
      <button type="button" onclick="window.location.href='/products/new'" class="btn btn-outline-info"><i class="fas fa-plus"></i> Crear nuevo producto</button>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Color</th>
      <th scope="col">Rgb</th>
      <th scope="col">Tallas</th>
      <th scope="col">Género</th>
      <th scope="col">Oferta</th>
      <th scope="col">Precio</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
    <tr style="cursor: pointer; height: 100px;"onclick='window.location.href="/product/<%= product.id %>"'>
      <th scope="row"><%= product.id %></th>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.color %></td>
      <td><%= product.rgb %></td>
      <td><%= product.talla %></td>
      <td><%= product.genero %></td>
      <td><%= product.offer %></td>
      <td><%= product.price %></td>
      <td>
        <section class="borrarCart"><%= link_to "Editar", edit_product_path(product), class: "btn btn-warning btnadmin mb-1" %></section>
        <section class="borrarCart"><%= link_to "Eliminar", deleteproduct_path(product), method: :delete, data: {confirm: "¿Deseas eliminar " + product.name + "?" }, class: "btn btn-danger btnadmin" %></section>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Crear articulo", products_new_path %>

<% end %>