<%
  @aux = 0
  @products.each do
    @aux += 1
  end
%>
<div class="mainadmin">
  <p class="titlegeneral">Listado de productos</p>
  <div class="buscadorgrid">
    <div>
      <%= form_tag searchadmin_path, :method => 'get', class: "search mb-3" do %>
        <%= text_field_tag :search, params[:search], placeholder: raw("&#xf002; Buscar..."), style: "font-family: 'FontAwesome';" %>
      <% end %>
    </div>
    <% if params[:search] != nil %>
    <div>
      <button type="button" onclick="window.location.href='/products/admin'" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
  </div>

      <%
        if @aux == 0 then %>
          <p style="color: red"><strong>¡Ups!</strong> No se han encontrado coincidencias</p>
        <% else %>
      <button type="button" onclick="window.location.href='/products/new'" class="btn btn-outline-info mb-2"><i class="fas fa-plus"></i> Crear nuevo producto</button>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col" class="hiddenquery">Descripción</th>
      <th scope="col" class="hiddenquery">Color</th>
      <th scope="col" class="hiddenquery">Rgb</th>
      <th scope="col" class="hiddenquery">Tallas</th>
      <th scope="col" class="hiddenquery">Género</th>
      <th scope="col" class="hiddenquery">Oferta</th>
      <th scope="col">Precio</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
    <tr style="cursor: pointer; height: 100px;"onclick='window.location.href="/product/<%= product.id %>"'>
      <th scope="row"><%= product.id %></th>
      <td><%= product.name %></td>
      <td class="hiddenquery"><%= product.description %></td>
      <td class="hiddenquery"><%= product.color %></td>
      <td class="hiddenquery"><%= product.rgb %></td>
      <td class="hiddenquery"><%= product.talla %></td>
      <td class="hiddenquery"><%= product.genero %></td>
      <td class="hiddenquery"><%= product.offer %></td>
      <td><%= product.price %>€</td>
      <td>
        <section class="borrarCart"><%= link_to "Editar", edit_product_path(product), class: "btn btn-info btnadmin mb-1" %></section>
        <section class="borrarCart"><%= link_to "Eliminar", deleteproduct_path(product), method: :delete, data: {confirm: "¿Deseas eliminar " + product.name + "?" }, class: "btn btn-danger btnadmin" %></section>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% end %>