<%
  # LÓGICA DE PRECIOS
  @offer = false
  @decimales = false
  if @product.offer != 0
     # SI ES UN ARTICULO EN DESCUENTO...
      @offer = true
     @discount = @product.price - (@product.price * (@product.offer/100.00))
     @aux = @discount.to_i.to_s + ".0"

     if @aux == @discount.to_s
       @precio = @discount.to_i
       @decimales = false
     else
       @precio = @discount.round(2)
       @decimales = true
     end
  else
     # SI NO ESTÁ EM DESCUENTO...
     @aux = @product.price.to_i.to_s + ".0"
     if @aux == @product.price.to_s
       @precio = @product.price.to_i
     else
         @precio = @product.price.round(2)
     end
  end %>

<div class="toast" id="myToast" data-delay="5000">
  <div class="toast-header">
    <strong class="mr-auto"><i class="fa fa-grav"></i> Añadido al carrito</strong>
    <small>Ahora</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <div>Se ha añadido <strong><%= @product.name %></strong> al carrito</div>
  </div>
</div>

<div class="container-fluid mt-4 mb-4 gridproduct">
  <div class="imgProduct"><img src="<%= @product.image %>" alt="Imagen de producto" class="imgProduct"></div>
  <div class="mainInfo">
    <div class="title"><p><%= @product.name %></div>

      <% if @offer == true %>
        <div class="price discountProductView<% if @decimales==false %> ofertaSINDECIMAL<% end %>">
        <!-- Precio con el descuento -->
        <p><%= @precio %> €</p>
        <!-- Porcentaje del descuento -->
        <h5><span class="badge badge-secondary offerbadge offerbadgePV">-<%= @product.offer %>%</span></h5>
        <!-- Precio antes del descuento -->
        <p class="expricePV"><%= @product.price %> €</p>
        </div>
      <% else %>
        <div class="price priceintegerProductView">
        <p><%= @precio %> € </p>
        </div>
      <div class="color">
        <div class="cuadrado" style="background-color: rgb(<%= @product.rgb %>);"></div>
        <p class="card-text"><%= @product.color %></p>
      </div>
      <hr class="linea">
      <% end %>

    <% if @offer == true %>
      <div class="color">
        <div class="cuadrado" style="background-color: rgb(<%= @product.rgb %>);"></div>
        <p class="card-text"><%= @product.color %></p>
      </div>
      <hr class="linea">
      <!-- ALERTA -->
      <div class="alert alert-warning alert-dismissible fade show alertPV" role="alert">
        <strong>¡Caramba!</strong> Este artículo está de oferta durante poco tiempo, ¡aprovecha la oportunidad!
      </div>
    <% end %>
    <p class="talla"><i class="fas fa-ruler"></i> Tallaje disponible</p>

    <!-- BOTONES TALLA -->
    <div class="btn-group" role="group" aria-label="Basic example">
      <% @product.talla.each do |tallaje| %>
        <%= button_to tallaje, savetalla_path, method: :post, params: {talla: tallaje} %>
      <% end %>
    </div>

    <% @product.talla.each do |tallaje| %>
      <% # CAMISETAS, ABRIGOS, CAZADORAS...
         @type = @product.product_type
         if @type == 1
           if session[:talla_camiseta] == tallaje %>
          <br><div class="tutalla"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> ¡Tu talla <%= tallaje %> está disponible en este artículo! </div>
          <% end %>
         <% # JOGGINS Y PANTALONES DE CHANDALS
           elsif @type == 2
             if session[:talla_chandal] == tallaje %>
          <br><div class="tutalla"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> ¡Tu talla <%= tallaje %> está disponible en este artículo! </div>
          <% end %>
        <% elsif @type == 3
             if session[:talla_pantalon] == tallaje %>
          <br><div class="tutalla"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> ¡Tu talla <%= tallaje %> está disponible en este artículo! </div>
            <% end %>
      <% end %>
      <% end %>

    <!-- BOTON CARRITO -->
    <% if session[:userid] != nil %>
    <%= button_to "Añadir al carrito", { action: "carritoadd", controller: "users" }, class: "btn btn-outline-success btncarrito show-toast" %>
    <% else %>
      <div class="alert alert-danger mt-2" role="alert">
        <i class="fas fa-exclamation-triangle"></i> Solo puedes añadir artículos al carrito si tienes una cuenta en CanaryStyle
      </div>
    <% end %>
    <hr class="linea">

    <p class="talla"><i class="fa fa-book"></i> Descripción </p>
    <section class="textPV"><%= @product.description %></section>

    <hr class="linea">
    <p class="talla"><i class="fas fa-undo"></i> Devoluciones</p>
    <section class="textPV">Devoluciones <strong>gratuitas</strong> antes de 30 días.</section>
  </div>
</div>

