<!-- CONTROL DE PAGINA -->
<% if current_page?('/')
     @index = ' active'
   else
     @index = ''
   end %>

<% if current_page?('/products/novedades')
     @novedades = ' active'
   else
     @novedades = ''
   end %>

<% if current_page?('/products/hombre')
     @hombre = ' active'
   else
     @hombre = ''
   end %>

<% if current_page?('/products/mujer')
     @mujer = ' active'
   else
     @mujer = ''
   end %>
<!-- FIN DE CONTROL DE PÁGINA -->

<!-- CONTROL DE CESTA -->
<%
  @cartItems = 0
  if session[:userid] != nil
    session[:cart].each do |carrito|
      @cartItems = @cartItems +1
    end
  end %>
<!-- FIN DE CONTROL DE CESTA -->

<!DOCTYPE html>
<html>
<head>
  <title>Canary</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'methods' %>
  <link rel="icon" type="image/png" href="https://cdn3.iconfinder.com/data/icons/clothes-products/512/icon2d-fashion-REVISION-256.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merienda+One|Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag "application" %>

</head>

<body>
  <header>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= main_path %>"><i class="fa fa-gg"></i>Canary<b>Style</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Inicio", main_path , :class => "nav-item nav-link" + @index %>
        <%= link_to "Novedades", novedades_path , :class => "nav-item nav-link" + @novedades %>
        <%= link_to "Hombre", hombre_path , :class => "nav-item nav-link" + @hombre %>
        <%= link_to "Mujer", mujer_path , :class => "nav-item nav-link" + @mujer %>
        <%= form_tag search_path, :method => 'get', class: "search" do %>
        <%= text_field_tag :search, params[:search], placeholder: raw("&#xf002; Buscar..."), style: "font-family: 'FontAwesome';", class: "searchbar" %>
          <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav-item"><a href="/user/cesta" class="nav-link messages"><i class="fa fa-shopping-cart fa"></i><span class="badge"><%= @cartItems %></span></a></li>
        <li class="nav-item dropdown">

          <!-- Comprobamos si usuario está logueado para mostrar un dropdown-->
          <% if session[:userid] != nil  %>
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><i class="fa fa-user-o avatar avatarnav" aria-hidden="true"></i> <%= session[:name] %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/user/<%= session[:userid] %>" class="dropdown-item"><i class="fa fa-user-o"></i> Perfil</a></li>
              <% if session[:admin] == 1 %>
                <li><a href="/products/admin" class="dropdown-item"><i class="fas fa-tools"></i> Administrar</a></li>
              <% end %>

              <li class="divider dropdown-divider"></li>
              <!-- logout -->
              <li><a href="/users/logout" class="dropdown-item"><i class="fa fa-sign-out"></i> Salir</a></li>
            </ul>
          <% else %>
            <a href="#myModal" data-toggle="modal" class="nav-link user-action"><i class="fa fa-user-o avatar avatarnav" aria-hidden="true"></i> Entrar <b class="caret"></b></a>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Modal HTML -->
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <div class="avatar">
            <!-- ICONO -->
            <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png" alt="Avatar">
          </div>
          <h4 class="modal-title">Bienvenido/a</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>

        <div class="modal-body">
          <%= form_for @user do |f| %>
              <div class="form-group">
                <%= f.text_field :username, class: 'form-control', placeholder: "Usuario" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, class: 'form-control', placeholder: "Contraseña" %>
              </div>
              <div class="form-group">
                <%= f.submit "Log In", class: 'btn btn-primary btn-lg btn-block login-btn' %>
              </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <a href="/user/new">Regístrate</a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- CONTENIDO DE LA PÁGINA -->
<%= yield %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- TOAST NOTIFICATION -->
<script>
    $(document).ready(function(){
        $(".show-toast").click(function(){
            document.getElementById("myToast").style.zIndex = "1";
            $('.toast').toast('show');
        });
    });
</script>
</body>
</html>
